@charset "UTF-8";

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: #c0c0c0000; /* Fallback color */
	background-color: rgba(0, 0, 0, 0.3); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal_content {
	display: none;
	position: fixed; /* Stay in place */
	overflow: auto; /* Enable scroll if needed */
	background-color: #fefefe;
	margin: 5% 25%; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	height: 30%;
	width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
	color: #aaa;
	margin-right: 30px;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.loginBox {
	margin-top: 4%;
	width: 280px;
	height: 90px;
	float: left;
}

#loginBtn {
	margin: 37px;
}